#!/usr/bin/env bash

alias v="nvim"
alias vim="nvim"

alias valiases="nvim $HOME/.aliases"
alias vinstall="nvim $HOME/scripts/install"
alias vrc="nvim $HOME/.zshrc"

alias src="source $HOME/.zshrc"

alias ggpush="git branch | grep \\* | cut -d ' ' -f2 | xargs -i git push --set-upstream origin {}"

alias img="kitty +kitten icat"

source $HOME/scripts/dotfiles
