*
!/.aliases
!/.bindings
!/.config
!/.config/awesome
!/.config/awesome/*
!/.config/awesome/binding
!/.config/awesome/binding/*
!/.config/awesome/deco
!/.config/awesome/deco/*
!/.config/awesome/lain_custom
!/.config/awesome/lain_custom/*
!/.config/awesome/main/*
!/.config/compton.conf
!/.config/k9s
!/.config/k9s/alias.yml
!/.config/k9s/hotkey.yml
!/.config/k9s/plugin.yml
!/.config/k9s/skin.yml
!/.config/k9s/views.yml
!/.config/kitty
!/.config/kitty/**
/.config/kitty/machine.conf
!/.config/mimeapps.list
!/.config/nvim
!/.config/nvim/**
!/.config/picom.conf
!/.config/redshift.conf
!/.config/rofi
!/.config/rofi/*
!/.editorconfig
!/.gitignore
!/.p10k.zsh
!/.prettierrc
!/scripts
!/scripts/*
!/scripts/storage
!/scripts/storage/*
!/scripts/templates
!/scripts/templates/*
!/.ssh/
!/.ssh/config
!/.zprofile
!/.zshenv
!/.zshrc
!/.profile