*
!/.gitignore
!/.zshrc
!/.custom-oh-my-zsh
!/.custom-oh-my-zsh/*
!/.custom-oh-my-zsh/themes
!/.custom-oh-my-zsh/themes/*
!/.custom-oh-my-zsh/themes/steeef.zsh-theme
!/.aliases
!/scripts
!/scripts/setup
!/scripts/setup/1-install.sh
!/scripts/setup/2-dotfiles.sh
