*
!/.aliases
!/.config
!/.config/awesome
!/.config/awesome/*
!/.config/awesome/binding
!/.config/awesome/binding/*
!/.config/awesome/deco
!/.config/awesome/deco/*
!/.config/awesome/main/*
!/.config/Code
!/.config/Code/User
!/.config/Code/User/*.json
!/.config/Code/User/snippets
!/.config/Code/User/snippets/*
!/.config/kitty
!/.config/kitty/**
!/.config/nvim
!/.config/nvim/init.vim
!/.config/redshift.conf
!/.config/rofi
!/.config/rofi/*
!/.config/sublime-text-3
!/.config/sublime-text-3/Packages
!/.config/sublime-text-3/Packages/User
!/.config/sublime-text-3/Packages/User/*.sublime-keymap
!/.config/sublime-text-3/Packages/User/*.sublime-settings
!/.custom-oh-my-zsh
!/.custom-oh-my-zsh/*
!/.custom-oh-my-zsh/themes
!/.custom-oh-my-zsh/themes/*
!/.dotFunctions
!/.editorconfig
!/.gitignore
!/scripts
!/scripts/*
!/.zshrc
